@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: url('../imagens/bg.png');
    margin: 15px;
}

#container {
    background: #ede9cc;
    margin: 0 auto;
    min-width: 720px;
    max-width: 1180px;
}

#topo {
    background: #dbcd87;
    height: 15.4em; /* Para que as letras se adaptam com a altura */
    min-height: 250px;
    position: relative;
}

#area-logo {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../imagens/topo-imagem-principal.png') no-repeat;
    width: 100%;
    height: 250px;
}

.logo a {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 3;
    width: 151px;
    height: 66px;
    background: url('../imagens/logo.png') no-repeat;
    text-indent: -3000px;
}

#area-menu {
    position: absolute;
    top: 0;
    right: 0;
    background: url('../imagens/topo-imagem-lateral.png') no-repeat;
    width: 450px;
    height: 250px;
}

#conteudo-menu {
    margin-left: 90px;
    margin-right: 15px;
    padding-top: 15px; 
}

#menu-locais {
    border-top: 1px solid #b5ab56;
    border-bottom: 1px solid #b5ab56;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.7em;
    color: #8b8448;
}

.locais {
    float: left;
    line-height: 2.1em;
}

a {
    text-decoration: none;
}

a.reserva {
    float: right;
    text-transform: uppercase;
    background: #a29750;
    color: #fff5b0;
    padding: 5px 10px;
}

